[package]
name = "propeller"
version = "0.1.0"
edition = "2024"

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[build-dependencies]
cc = "1.0"

[features]
module_tests = []
serial_debug_output = []
bcm2835_mini_uart_debug = ["serial_debug_output"]
