# QEMU Platform Build Configuration

# Use the Raspberry Pi 3 profile for AArch64 builds.

[target.aarch64-unknown-none-softfloat]
rustflags = [
    "-C", "target-cpu=cortex-a53",
    "-C", "link_arg=--section-start=.text=0xffff000000080000",
]

[env]
CPU_aarch64_unknown_none_softfloat = "-mcpu=cortex-a53"
