# Raspberry Pi 3 Hardware Build Configuration

[target.aarch64-unknown-none-softfloat]
rustflags = [
    "-C", "target-cpu=cortex-a53",
    "-C", "link_arg=--section-start=.text=0xffff000000080000",
]

[env]
CPU_aarch64_unknown_none_softfloat = "-mcpu=cortex-a53"
