# Common Build Configuration

# This configuration cannot be used on its own.

[target.aarch64-unknown-none-softfloat]
rustflags = [
    "-C", "link_arg=-Tsrc/arch/aarch64/start/start.ld",
]
runner = ".venv/bin/python support/post-build.py"

[target.armv7a-none-eabi]
rustflags = [
    "-C", "link_arg=-Tsrc/arch/arm/start/start.ld",
]
runner = ".venv/bin/python support/post-build.py"

[build]
target = []

[env]
# CC_<arch> and AR_<arch> should be defined in the user's global cargo config.
# See https://doc.rust-lang.org/cargo/reference/config.html.
#   NOTE: The configuration files assume the ARM GNU toolchain is used.
